<div class="row">
  <button mat-raised-button color="primary" routerLink="cadastrarachado" class="cadastrar float-right">Cadastrar
    Achado</button>
</div>

<div class="row mt-4">
  <h3 *ngIf="itensPerdidos.length > 0">Meus perdidos</h3>

  <div class="container">
    <div class="row">
      <div *ngFor="let perdido of itensPerdidos" class="col-sm-3">
        <app-item [item]="perdido" [texto]="'Não encontrado'" [routerLink]="['item-detalhe', 'perdido', perdido.id]"></app-item>
      </div>
    </div>
  </div>

  <h3 *ngIf="itensAchados.length > 0">Meus Achados</h3>

  <div class="container">
    <div class="row">
      <div *ngFor="let perdido of itensAchados" class="col-sm-3">
        <app-item [item]="perdido" [texto]="'Não entregue'" [routerLink]="['item-detalhe', 'perdido', perdido.id]"></app-item>
      </div>
    </div>
  </div>

</div>