<div class="row">
  <button mat-raised-button color="primary" routerLink="cadastrarachado" class="cadastrar float-right">Cadastrar
    Achado</button>
</div>

<div class="row mt-4">
  <h3 *ngIf="itensPerdidos.length > 0">Meus perdidos</h3>

  <div class="container">
    <div class="row">
      <div [className]="next ? 'anime-left': 'none'">
        <div *ngFor="let perdido of itensPerdidos" class="col-md-2 col-sm-4">
          <app-item [item]="perdido" [texto]="perdido.recuperado ? 'encontrado' : 'não encontrado'"
            [routerLink]="['item-detalhe', 'perdido', perdido.id]"></app-item>
        </div>
      </div>
    </div>
  </div>

  <h3 *ngIf="itensAchados.length > 0">Meus Achados</h3>

  <div class="container">
    <div class="row">
      <div *ngFor="let achado of itensAchados" class="col-sm-3">
        <app-item [item]="achado" [texto]="achado.devolvido ? 'entregue' : 'não entregue'"
          [routerLink]="['item-detalhe', 'achado', achado.id]"></app-item>
      </div>
    </div>
  </div>

</div>