# Remova a linha abaixo se quiser herdar as configurações do .editorconfig de diretórios superiores
root = true

# Arquivos do Visual Basic
[*.vb]

#### Opções Principais do EditorConfig ####

# Recuo e espaçamento
indent_size = 4
indent_style = space
tab_width = 4

# Preferências de nova linha
end_of_line = crlf
insert_final_newline = false

#### Convenções de codificação .NET ####

# Preferências
dotnet_style_qualification_for_event = false:silent
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_property = false:silent

# Preferências de tipos BCL contra palavras-chave do idioma
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent

# Preferências de parênteses
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent

# Preferências de modificador
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent

# Preferências de nível de expressão
csharp_style_deconstructed_variable_declaration = true:sugestão
csharp_style_inlined_variable_declaration = true:sugestão
csharp_style_throw_expression = true:sugestão
dotnet_style_coalesce_expression = true:sugestão
dotnet_style_collection_initializer = true:sugestão
dotnet_style_explicit_tuple_names = true:sugestão
dotnet_style_null_propagation = true:sugestão
dotnet_style_object_initializer = true:sugestão
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_prefer_compound_assignment = true:sugestão
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_prefer_inferred_anonymous_type_member_names = true:sugestão
dotnet_style_prefer_inferred_tuple_names = true:sugestão
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:sugestão

# Preferências de campo
dotnet_style_readonly_field = true:sugestão

# Preferências de parâmetro
dotnet_code_quality_unused_parameters = all:sugestão

#### Convenções do Codificação do VB ####

# Preferências de modificador
visual_basic_preferred_modifier_order = partial,default,private,protected,public,friend,notoverridable,overridable,mustoverride,overloads,overrides,mustinherit,notinheritable,static,shared,shadows,readonly,writeonly,dim,const,withevents,widening,narrowing,custom,async,iterator

# Preferências de nível de expressão
visual_basic_style_unused_value_assignment_preference = unused_local_variable:sugestão
visual_basic_style_unused_value_expression_statement_preference = unused_local_variable:silent

