.radio-margin {
  margin: 0 10px;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.content-form {
  width: 100%;
}

.info-block {
  position: relative;
  display: inline-block;
  width: 60%;
  min-width: 300px;
}

.img-block {
  position: absolute;
  display: inline-block;
  width: 40%;
  top: 80px;
  min-width: 245px;
}

.form-profile {
  margin: 20px auto;
  width: 100%;
  max-width: 800px;
  min-width: 200px;
}

$rowImgMargin: 28%;

img {
  margin-left: $rowImgMargin;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 190px;
  height: 200px;
}

.remove-button {
  margin-top: 5px;
  margin-left: $rowImgMargin + 1;
  width: 180px;
  position: relative;
}

.save {
  right: 0;
}

.row {
  width: 100%;
  height: 50px;
  position: relative;
}

.row-imput {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.button-right {
  position: absolute;
  right: 53px;
  top: 5px;
}

.full-width {
  width: 100%;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
