<div class="form-profile scale-up-center">
  <mat-horizontal-stepper [linear]="true" #stepper>

    <mat-step [stepControl]="itemFormGroup">
      <form [formGroup]="itemFormGroup" class="form-center">

        <ng-template matStepLabel>Tipo de ocorrência</ng-template>

        <h3>Você perdeu ou encontrou ?</h3>
        <div class="block mt-1">
          <button mat-raised-button color="primary" (click)="tipoSituacao = 'perda'" matStepperNext
            class="w-100 tipo-botao">Perdi</button>
          <button mat-raised-button color="primary" (click)="tipoSituacao = 'encontro'" matStepperNext
            class="w-100 mt-3 tipo-botao">Achei</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="itemFormGroup">
      <form [formGroup]="itemFormGroup" class="form-center">

        <ng-template matStepLabel>Detalhes</ng-template>

        <h3>Nos conte o que foi</h3>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Título</mat-label>
          <input type="text" matInput formControlName="titulo"
            [placeholder]="tipoSituacao === 'encontro' ? 'Ex: Encontrado mochila' : 'Ex: Perdido mochila'">
        </mat-form-field>

        <div class="inline">
          <h3>Etiquetas</h3>
          <mat-icon
            [matTooltip]="tipoSituacao === 'encontro' ? 
            'Tags servem para especificar o tipo de item que você achou, para que seja mais fácil outras pessoas acharem' : 
            'Tags servem para especificar o tipo de item que você perdeu, para que seja mais fácil outras pessoas acharem'"
            [matTooltipPosition]="positionOptions">help_outline</mat-icon>
        </div>

        <mat-form-field appearance="outline" class="w-100">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of getForm().tags.value; let i = index" [selectable]="selectable"
              [removable]="removable" (removed)="remove(i)" [color]="primary">
              {{tag}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>

        <h3>Quer colocar mais algum detalhe importante ?</h3>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Detalhes</mat-label>
          <textarea formControlName="detalhe" type="text" rows="4" #input maxlength="textareaMaxSize" matInput
            [placeholder]="tipoSituacao === 'encontro' ?  
            'Ex: falar mais sobre o item encontrado' : 
            'Ex: falar mais sobre o item perdido'"></textarea>
          <mat-hint align="end">{{input.value?.length || 0}}/{{textareaMaxSize}}</mat-hint>
        </mat-form-field>

        <div class="block mt-1 w-100">
          <button mat-raised-button color="primary" matStepperNext class="w-100 tipo-botao">Continuar</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="itemFormGroup">
      <form [formGroup]="itemFormGroup">
        <ng-template matStepLabel>Local</ng-template>

        <agm-map [latitude]="startlat" [longitude]="startlng" [zoom]="startzoom" [disableDefaultUI]="true"
          [zoomControl]="false" (mapClick)="mapClicked($event)">

          <agm-marker (markerClick)="clickedMarker(marker.label, i)" [latitude]="getForm().latitudeLocal?.value"
            [longitude]="getForm().longitudeLocal?.value" [label]="marker?.label" [markerDraggable]="marker?.draggable"
            (dragEnd)="markerDragEnd(marker, $event)">

          </agm-marker>

        </agm-map>

        <div class="block mt-2 w-100">
          <button mat-raised-button color="primary" matStepperNext class="w-100 tipo-botao">Continuar</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="itemFormGroup">
      <form [formGroup]="itemFormGroup" class="form-center">
        <ng-template matStepLabel>Quando</ng-template>
        <h3 *ngIf="tipoSituacao === 'encontro'">Quando foi encontrado mais ou menos ?</h3>
        <h3 *ngIf="tipoSituacao === 'perda'">Quando foi perdido mais ou menos ?</h3>

        <div class="inline">
          <p class="m-1">Entre</p>
          <mat-form-field class="m-1">
            <input matInput formControlName="dataInicial" (dateInput)="setDefaultDate($event)"
              [matDatepicker]="dataInicio" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
            <mat-datepicker #dataInicio></mat-datepicker>
          </mat-form-field>

          <p class="m-1">E</p>
          <mat-form-field class="m-1">
            <input matInput formControlName="dataFinal" [matDatepicker]="data2" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="data2"></mat-datepicker-toggle>
            <mat-datepicker #data2></mat-datepicker>
          </mat-form-field>
        </div>

        <h3>Horário</h3>

        <mat-form-field class="time">
          <input type="text" formControlName="hora" placeholder="Hora" appHourValue aria-label="Number" matInput
            [formControl]="horaControl" [matAutocomplete]="autoHora">
          <mat-autocomplete autoActiveFirstOption #autoHora="matAutocomplete">
            <mat-option *ngFor="let hora of horasFiltradas | async" [value]="hora">
              {{hora}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="time">
          <input type="text" formControlName="minuto" placeholder="Minuto" appMinuteValue aria-label="Number" matInput
            [formControl]="minutoControl" [matAutocomplete]="autoMinuto">
          <mat-autocomplete autoActiveFirstOption #autoMinuto="matAutocomplete">
            <mat-option *ngFor="let minuto of minutosFiltrados | async" [value]="minuto">
              {{minuto}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="block mt-2 w-100">
          <button mat-raised-button color="primary" matStepperNext class="w-100 tipo-botao">Continuar</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="itemFormGroup">
      <form [formGroup]="itemFormGroup" class="form-center">
        <ng-template matStepLabel>Imagens</ng-template>
        <h3>Deseja adicionar alguma imagem ?</h3>

        <div class="block mt-2 w-100">
          <button mat-raised-button (click)="selectImg()" color="primary" matStepperNext
            class="w-100 ">Adicionar</button>
          <input type="file" id="imgupload" (change)="setFile($event)" style="display:none" />
        </div>

        <div formArrayName="images" (click)="selectImg()" *ngFor="let image of getForm().images.value;">
          <img id="profileimg" class="image-link" [src]="image">
        </div>

        <div class="block mt-2 w-100">
          <button mat-raised-button color="primary" (click)="registrar()" matStepperNext class="w-100 tipo-botao">Finalizar</button>
        </div>

      </form>
    </mat-step>

  </mat-horizontal-stepper>
</div>