/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-field {
    width: 100%;
  }
  
  .form {
    margin: 100px auto;
    width: 100%;
    max-width: 450px;
    min-width: 200px;
  }
  
  .right {
    float: right;
  }
  
  a {
    color: inherit;
    text-decoration: inherit;
  }
  