// Angular Material Themes
// deeppurple-amber.css
// indigo-pink.css
// pink-bluegrey.css
// purple-green.css

@import "./bootstrapGrid.scss";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-field {
  width: 100%;
}

.form {
  margin: 50px auto;
  width: 100%;
  max-width: 450px;
  min-width: 200px;
}

.form-field {
  margin-bottom: 6px;
}

.right {
  float: right;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.btn:focus {
  outline: none;
}

.error-message {
  margin-top: -10px;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}
