.item-card {
  margin-top: 6px;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
  transition: 0.4s;
  cursor: pointer;
}

.item-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-perdido {
  border: 1px solid #c82333;
  box-shadow: none;

  button {
    background: #c82333;
  }
}

.subtitulo {
  margin-top: 3px;
  * {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
  }
}

.titulo {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}

.info {
  flex-grow: 1;
  display: inline-block;
  text-align: center;
}

.buttons {
  display: inline-block;
  position: relative;
}

img {
  height: 100%;
  width: 100%;
}

.texto {
  padding: 12px;
}

.badge {
  background: #673ab7;
  height: 22px;
  position: absolute;
  top: -2px;
  right: 0px;
  padding: 2px 4px;
  border-radius: 21px;
  text-align: center;
  align-items: center;
  color: white;
}
