<mat-card class="full-field item-card item-achado ">
  <span class="badge">{{texto}}</span>
  <div class="info">
    <div *ngIf="item.imagem !== ''">
      <img [src]="item.imagem" alt="" />
    </div>

    <div *ngIf="item.imagem === '' && item.image === undefined">
      <img src="../../assets/undefined_user.png" alt="" />
    </div>

    <span class="titulo">{{ item?.titulo }}</span>
    <div class="subtitulo">
      <span>{{ item?.dataInicio }}</span>
    </div>
  </div>

  <!-- <div class="buttons">
    <button mat-raised-button color="primary">Detalhes</button>
  </div> -->
</mat-card>
