.item-card {
  margin-top: 6px;
  display: flex;
}

.item-achado {
  border: 1px solid #007bff;
  box-shadow: none;

  button {
    background: #007bff;
  }
}

.item-perdido {
  border: 1px solid #c82333;
  box-shadow: none;

  button {
    background: #c82333;
  }
}

.subtitulo {
  margin-top: 3px;
  * {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
  }
}

.titulo {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}

.info {
  margin: 0 16px;
  flex-grow: 1;
  display: inline-block;
  text-align: center;
}

.buttons {
  display: inline-block;
  position: relative;
}

img {
  height: 80%;
  width: 80%;
}

.badge {
  background: #673ab7;
  height: 22px;
  position: absolute;
  top: -12px;
  right: -17px;
  padding: 2px 4px;
  border-radius: 21px;
  text-align: center;
  align-items: center;
  color: white;
}
