<div class="container">

    <div class="itens-container">

        <div class="row">
            <h3>Items compatíveis com o que você achou e perdeu</h3>
        </div>

        <app-item></app-item>

        <mat-card class="full-field item-card item-perdido ">
            <div class="info">
                <span class="titulo">Mochila Preta da Nike</span>
                <div class="subtitulo">
                    <span>Onde: São Gabriel</span>
                    <span> - 21/04/2019</span>
                </div>
            </div>

            <div class="buttons">
                <button mat-raised-button color="primary">Detalhes</button>
            </div>
        </mat-card>
    </div>
</div>