<div class="container mt-lg-3">

    <mat-tab-group dynamicHeight>
        <mat-tab>
            <ng-template matTabLabel>
                <span matBadge="5" matBadgeOverlap="false">Meus Achados</span>
            </ng-template>

            <div class="itens-container">

                <mat-card class="full-field item-card">
                    <div class="info">
                        <span class="titulo">são gabriel</span>
                        <div class="subtitulo">
                            <span>são gabriel</span>
                        </div>
                    </div>

                    <div class="buttons">
                        <button mat-raised-button color="primary">Detalhes</button>
                    </div>
                </mat-card>

                <mat-card class="full-field item-card">
                    <div class="info">
                        <span class="titulo">são gabriel</span>
                        <div class="subtitulo">
                            <span>são gabriel</span>
                        </div>
                    </div>

                    <div class="buttons">
                        <button mat-raised-button color="primary">Detalhes</button>
                    </div>
                </mat-card>
            </div>

        </mat-tab>
        <mat-tab>
            <ng-template matTabLabel>
                <span matBadge="10" matBadgeOverlap="false">Meus perdidos</span>
            </ng-template>

            <div class="itens-container">

                <mat-card class="full-field item-card">
                    <div class="info">
                        <span class="titulo">são gabriel</span>
                        <div class="subtitulo">
                            <span>são gabriel</span>
                        </div>
                    </div>

                    <div class="buttons">
                        <button mat-raised-button color="primary">Detalhes</button>
                    </div>
                </mat-card>

                <mat-card class="full-field item-card">
                    <div class="info">
                        <span class="titulo">são gabriel</span>
                        <div class="subtitulo">
                            <span>são gabriel</span>
                        </div>
                    </div>

                    <div class="buttons">
                        <button mat-raised-button color="primary">Detalhes</button>
                    </div>
                </mat-card>
            </div>

        </mat-tab>
    </mat-tab-group>
</div>